<% layout('/partials/layout.ejs') -%>
<% block('page_title', '2048') -%>
<% block('page_css', '/styles/pages/2048.css') -%>
<% block('page_js', '/scripts/pages/2048.js') -%>

<div id="outer">
    <div id="middle">
        <div id="container">
            <div id="msg">Loading...</div>
        </div>
    </div>
</div>
<div id="fps"></div>